<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Streak Timer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1FEB40031E92EEF000930B57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FEB40171E92EEF100930B57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FEB40221E92EEF100930B57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
